html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 450px;
  min-width: 450px;
  background-color: #F0F3F6;
  text-align: center;
}


.heading {
  font-size: 1.5em;
  color: #3979F3;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  height: 250px;
  padding: 25px 25px;
  margin: 25px 0;
  box-shadow: 0 2px 5px #ccc;
  overflow: hidden;

}

.top {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #6EB670;
  position: absolute;
  top: 0;
  left: 0;

}

.name {
  display: flex;
  flex: 1;
  color: #fff;
  font-size: 2em;
  margin: 10% 20px 0;
}

.circle-img {
  margin: 30px 20px 0 0;
  border-radius: 150px;
  border: 5px solid #fff;
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 5px #dadada;
}

.bottom {
  text-align: start;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.input {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  background-color: #F0F3F6;
  border: 1px solid #DDDFE2;
}

button {
  background-color: #427AF0;
  color: #fff;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 5px #ccc;
  cursor: pointer;
}

button:hover{
  background-color: #3471E6
}

