.first
{
    background-color: rgb(20, 3, 255);
    margin: 15px;
}
.second
{
    background-color:rgb(151, 3, 131);
    margin: 15px;
}
.third
{
    background-color: red;
    margin: 15px;
    color:white;
    font-weight: bolder;
}
  
li {
    text-align: start;
    list-style-position: inside;
    padding: 10px;

}


body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px;
    background-color: #81ecec;
    margin: 50px 0;
    /* height: 200px; */
    box-shadow: 0 2px 5px #ccc;
    text-align: center;
  }
  